.topOfNav{
    background-color: #2d545e;
    color: aliceblue;
    height: 50px;
    padding-top: 5px;
    margin: 0px !important;
}

.topOfNav .writeup{
    font: 10px 300;
    text-align: center;
}

.intro{
    background-image: url(components/shared/images/introBG2.jpg);
    background-size: cover;
}

.intro .jumbo{
    padding-top: 60px;
    padding-bottom: 60px;
    color: cornsilk;
}

.intro .jumbo .display-3{
    font-size: larger;
    font-weight: 800;
    margin-bottom: 23px;
}

.intro .jumbo .introJoin{
    margin-top: 26px;
    height: 60px;
    font-size: larger;
    font-weight: 600;
}

.working{
    height: 100vh;
    padding-top: 40px;
    background-color: #180a5b;
}

.working .headWork{
    text-align: center;
    color: lightyellow;
    font-size: 40px;
    font-weight: 600;
}

.working img{
    margin-top: 30px;
    height: 60vh;
}

.twoOptions{
    padding-top: 40px;
    padding-bottom: 40px;
    color: cadetblue;
}
.twoOptions .optionHead{
    font-weight: 800;
    color:black;
}

.twoOptions .options{
    padding-top: 25px;
}

.follow{
    height: 60;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: blanchedalmond;
}

.followText{
    text-align: center;
    font: 24px;
    font-weight: 700;
}


.follow .follow-box{
    padding-top: 19px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center; 
    /* space-around */
}

.follow .box{
    width: 200px;
    height: 200px;
    text-align: center;
    
}

.follow .box a{
    padding-top: 25%;
    color: mediumturquoise;
}

.follow .box p{
    font-size: 24px;
    font-weight: 400;
}

.footer{
    position: relative;
    bottom: 0px;
    background-color: #2d545e;
    color: aliceblue;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.belowCreate{
    height:3px;
    color:cadetblue;
    background-color: cadetblue;
    border-radius:1px;
}
.belowAboutUs{
    height:1px;
    color: darkslategrey;
    background-color: darkslategrey;
    border-radius:0.2px;
}

#signupForm{
    box-shadow: 0 0px 20px 0 rgba(104, 123, 128, 0.7);
    background-color:rgba(45,84,94,0.7);
}

#signupForm a{
    text-decoration: none;
    color: aliceblue;
    font-size: 16px;
}

#signupForm a:hover{
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
}

#loginForm{
    box-shadow: 0 0px 20px 0 rgba(104, 123, 128, 0.8);
    background-color:rgba(45,84,94,0.7);
}

#loginForm a{
    text-decoration: none;
    color: aliceblue;
    font-size: 16px;
}

#loginForm a:hover{
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
}

/* .login-background{
    background-image: url(components/shared/images/bg2.jpg);
} */

.footer .contact-link{
    color: rgb(230, 154, 40);
}

.footer .fa:hover{
    color: dodgerblue;
}

.footer .fa-instagram:hover{
    color: #c13584;
}

.footer .fa-facebook:hover{
    color: white;
}

.footer .fa-phone:hover{
    color: green;
}
.footer .fa-envelope:hover{
    color: #d44638;
}
